In [71]:
import pandas as pd

In [72]:
df = pd.read_csv("../data/GED/All_train_data.csv")
# train_df = pd.read_csv("../data/GED/train_data.csv")
# test_df = pd.read_csv("../data/GED/test_data.csv")
# val_df = pd.read_csv("../data/GED/val_data.csv")

# 1. Understand and Explore

## 1.1 Basic Check

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29998 entries, 0 to 29997
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   29998 non-null  object
 1   labels  29998 non-null  int64
dtypes: int64(1), object(1)
memory usage: 468.8+ KB

In [74]:
df.head()

                                               input  labels
0    I am reading score of Mahler is Symphony No . .       0
1  I am not interested in cars or electric applia...       1
2         This is my homework for my English class .       0
3  In comparison , Canada is catches increased an...       0
4  Fortunately , my older sister is friend is a d...       1

In [75]:
# No null values in dataset
df.isnull().sum()

input     0
labels    0
dtype: int64

In [76]:
# Balanced dataset
df.labels.value_counts()

labels
0    14999
1    14999
Name: count, dtype: int64

# 1.2. Check for duplicate value

In [77]:
# Remove leading and trailing whitespaces
df.input = df.input.apply(str.strip)

In [78]:
df.input.size, df.input.unique().size

(29998, 24422)

In [79]:
# Check duplicate values and observe
duplicate_df = df[df.input.duplicated()]
duplicate_df # also check thorugh "variables" option in notrbook in vs code

                                                   input  labels
259                                                            1
399                                            See you .       1
512                                                            1
621                                            A house .       1
629                                                            0
...                                                  ...     ...
29984                                          first day       0
29992  I will try harder studying Russian and English...       0
29994  I am sure we all get more sophisticated as we ...       1
29996          It is okay to change the meaning though .       0
29997                         Can anyone answer for me ?       1

[5576 rows x 2 columns]

In [80]:
duplicate_input_count_df = df.input.value_counts()
duplicate_input_count_df.head(20)

input
                           110
Thank you .                 29
Nice to meet you .          15
Thank you                   13
.                           12
See you .                   12
Nice to meet you !          10
Hello everyone !             9
Thank you for reading .      9
thank you .                  9
Thank you for reading !      9
What do you think ?          9
I do not think so .          7
I am years old .             7
Introduce myself             7
How are you ?                6
Thanks for reading .         6
What should I do ?           6
I want to go again .         6
First Diary                  6
Name: count, dtype: int64

In [81]:
# same input but differnet labels
df.iloc[399,:]

input     See you .
labels            1
Name: 399, dtype: object

In [82]:
df.iloc[5395,:]

input     See you .
labels            0
Name: 5395, dtype: object

In [83]:
# TODO: Should we remove same input with different labels or modify them?

In [84]:
# Duplicate values having different labels
empty_df = df[df.input == ""]
empty_df
# TODO: Should we remove this or not

      input  labels
254               0
259               1
512               1
629               0
1033              1
...     ...     ...
27584             1
27620             0
27828             1
28358             1
29210             1

[110 rows x 2 columns]

In [85]:
import spacy

In [86]:
# !python -m spacy download en_core_web_sm
# Loading model
nlp = spacy.load('en_core_web_sm',disable=['parser', 'ner'])

In [87]:
# Lemmatization with stopwords removal
df['lem']=df.input.apply(lambda x: ' '.join([token.lemma_ for token in list(nlp(x)) if (token.is_stop==False)]))

In [88]:
df.input[50]

'And with their crossed eyes they throw sparks to burn the stupid guys that do not want to study .'

In [89]:
df.lem[50]

'cross eye throw spark burn stupid guy want study .'

In [90]:
df.input.size, df.input.unique().size, df.lem.unique().size

(29998, 24422, 20501)

In [91]:
lem_count_df = df.lem.value_counts()
lem_count_df.head(20)

lem
                   176
.                  164
?                  104
thank .             46
know .              33
!                   27
like .              23
think ?             23
, .                 23
nice meet .         22
thank read .        21
know ?              20
study English .     19
think .             18
tired .             18
year old .          17
thank               17
time .              16
interesting .       15
happy !             15
Name: count, dtype: int64